@media (prefers-color-scheme: light) {
    a {
  color: black;
    }
  
    body {
        background-color: white;
        color: black;
    }
    


}
@media (prefers-color-scheme: dark) {
    a {
  color: white;
    }  
    body {
        background-color: black;
        color: white;
    }

 }
